
*{
	word-wrap: break-word;
}
@media screen and (max-width:1100px)
{
	.wel-img{display:none;}
	.booking-img{display:none;}
}
@media screen and (max-width:700px)
{
    /*.imgTiles{transform: scale(.9);}
	.place{transform: scale(.9);}*/
	
	.homeText{
    opacity: 1;
  }
}
.menu .menubar{
  background-color: #f1f1f1;
}
.top-bar{
  background-color: #f1f1f1;  
  z-index: 1000;
}
.title-bar{
  background-color: rgba(165, 42, 42,1);  
}

a:link 
{ 
	text-decoration: none; 
}
i,h5,article{
	display:inline-block;
}
.div-pad30{
  padding: 30px;
}
.scale-link:hover{
	transform: scale(1.2,1.2);
	transform-origin:middle center;
	filter: drop-shadow(2px 2px 3px gray);
	transition:0.6s ease-in-out;	
}
#carouselExampleIndicators{
  z-index: 999;
}

.logo-menu{
  width: 20%;
}

.navbar .navbar-nav .nav-link
{
    color:#6A3003;
    padding:15px;
    font-weight:bold;
    font-size:18px;
}   
section{
	padding-top:10px;
	padding-bottom:20px;
}
.bannerText
{
	/*font-size:20px;*/
  opacity: 1;
}
.imgTiles{
  overflow-y: hidden; /* Hide horizontal scrollbar */
  overflow-x: scroll;
  align-items:center;
}
.place
{
  position:relative;
  flex-basis: auto;
  padding:20px;
  align-items: center;
  
}
.place img
{
  max-height:450px;
  max-width:350px;
  min-width:350px;
  border-radius:10px;	
  /*position: absolute;*/
}
.layer
{
    background:transparent;
    height:450px;
    width:350px;
    border-radius:10px;
    margin-top:20px;
    left:10;
    position:absolute;
    top:0;
    transition:1s;

}
.layer:hover
{
    background:rgba(165, 42, 42,0.7);
}

.layer h3
{
  width:100%;
  font-weight:500;
  color:white;
  font-size:26px;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  position:absolute;
  text-align:center;
	vertical-align:center;
  opacity:0;
  transition:1s ease-in-out;
}
.layer:hover h3
{
  bottom:49%;
  opacity:1;
}
.welcome img
{
    height:500px;
    width:400px;
    padding:30px;
}
.wel-text
{
    opacity: 1;
}
.homeText{
	padding-bottom:10px;
}
.main
{
    width:1130px;
    max-width:95%;
    margin:0 auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
	position: relative;
}
.wel-text h4
{
    color:brown;
    font-size:65px;
    font-weight:bold;
    padding-bottom:10px;
}
.wel-text h5 
{
    font-size:45px;
    color:black;
}
.wel-text p
{
    font-size:15px;    
}
.contact-btn{
    background-color:brown;
    color:white;
    text-decoration:none;
    border:2px solid transparent;
    font-weight:bold;
    padding:13px 20px;
    border-radius:50px; 
    transition:0.4s;
}
.text-story h6
{
    text-align:center;
    font-weight:bold;
    font-size:45px;
    color:brown;
    padding:40px;
}
.story
{
    background-color:#F5DEB3;
    padding:30px;
}
.card-title 
{
  text-align:center;
  color:brown;    
}
.footer
{
  background-color:brown;
  color: white;
  padding:10px;
	
	vertical-align:center;
}
.logo-footer{
  width: 40%;
}
.icon-footer{
  width: 15%;
}
tbody{
  border: 0px;
}
.footer-details,
.footer-details:nth-of-type(even),
.footer-details:nth-of-type(odd){
  background-color: brown;
  border: 0px solid;
  text-align: left;  
}
.footer-details td{
  text-align: left;
  width: 100px;
}
.banner-contact
{
	height:400px;
}
.banner-text{
	color:white;
	/*font-weight:bold;*/
	font-size:50px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.mail-whatsapp{
  background-color:  rgba(232, 245, 179, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
}
.mail-icon{
  width: 70px;
}
.content-mail{
  box-align: center;
  margin: auto;
  vertical-align: middle;
}
.mail{
  background-color: #ffffff;
}
.whatsapp{
  background-color: #d3f5b3;
  padding: 30px;
}
.contact-main{
	width:1130px;
	max-width:95%;
	margin:0 auto;
	display:flex;
	align-items:center;
	justify-content:space-around;
}
.icon{
	width:50px;
	padding:10px;
}
.book-img{
	width:100%;
  display: inline-block;
}
.contact{
	display:inline;
	align-items:center;
	vertical-align:center;
  
}
.blink-text{
	animation: blinker 2s infinite;
}
@keyframes blinker {
	60% {
		opacity: 5%;
		color: brown;
		}
}

.booking-form{
  margin:0 auto;
	background-color:  #efefef;
	vertical-align:center;
	font-size:20px;
}
.book{
	padding:10px;	
}
.entry{
	height:70px;
	width:350px; 
}

td{
	padding:10px;
	align-items:left;
}
.form-label{
	text-align: right;
	text-transform: uppercase;
}
textarea{
	resize:none;
}

.icon_select_mate {
  position: absolute;
  top:20px;
  right: 2%;
  font-size: 16px;
    height: 22px;
  transition: all 275ms;
}

.select-box {
  position: relative;
  float: left;
  max-width: 350px;
  width: 350px;
  height:70px;
  font-family: 'Roboto';
  color: #777;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 1px 2px 10px -2px rgba(0,0,0,0.3);
  border-radius: 3px;
  transition: all 3s ease-in-out;

  select{
	position: absolute;
	overflow: hidden;
	height: 0px;
	opacity: 0;  
	z-index: -1;
  }
}

.cont_list_select_mate {
  position: relative;
  float: left;
  width: 100%;
}

.cont_select_int {
 position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: #fff;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 3px 3px;
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.2);
  transition: all 375ms ease-in-out;

	& li{
		position: relative;
		float: left;
		width: 96%;
		border-bottom:1px solid #E0E0E0;
		background-color: #F5F5F5;
		list-style-type: none;
		padding: 10px 2%;
		margin: 0px;  
		transition: all 275ms ease-in-out;
		display: block;
		cursor:pointer;
		
		&:last-child {
			border-radius: 3px;
			border-bottom:0px; 
        }
        &:hover {
			background-color: brown;
		} 
    }

   .active {
	background-color: #EEEEEE;
   }
}
.select-option{
    padding: 20px 2%;
    width: 96%;
    display: block;
    margin: 0px;
    cursor: pointer;
}
.submit-form{
	width:120px;
	height:50px;
  border-radius:3px;
  padding: 0px;
  border: 2px solid #7A1F1F;
	background-color:white;
	color:#7A1F1F;
}
.submit-form:hover{
	background-color:#7A1F1F;
	color:white;
  font-weight: bolder;
  border: 0px;
}
.reset-form{
	width:100px;
	height:40px;
	border-radius:3px;
  border: 2px solid black;
	background-color:white;
	color:black;
  padding: 0px;
}
.reset-form:hover{
	background-color: black;
  color:white;
  font-weight: bolder;
  border: 0px;
}

input,textarea,select{
  border: 1px solid black;
  padding: 20px;
}
.entry:focus {
  border: 3px solid brown;
  outline: none;
}
#date-picker{
  font-family: FontAwesome,"Open Sans";
}
/* FORM VALIDATION*/
.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
}

.failure-icon,
.error {
  color: red;
}

.success-icon {
  color: green;
}

.error {
  font-size: 14.5px;
  margin-top: 5px;
}
.about-img{
  width: 100%;
  border-radius: 5px;
  display: inline-block;
}
article{
  padding: 20px;
  
}
.about{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 auto;
  font-size: x-large;
  border-radius: 5px;
  
}
.about-text{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
}
.abt-amina{
  background-color:rgba(236, 208, 147, 0.7);
}
.abt-haris{
  background-color:rgba(147, 183, 236, 0.7);
}